html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container{
	width:900px;
	height:auto;
	margin:0 auto;
	margin-top:50px;
	font-size:20px;
}
.clear{
	float:none;
	clear:both;
}
.title{
	color:#F00;
	padding-bottom: 20px;
}
.menu{
	padding-left:40%;
	list-style-type:none;
	margin:0 auto;
}
.menu__nav{
	display:block;
	float:left;	
	width:50px;
	height:30px;
	text-align:center;
	padding: 5px 5px 0px;
}
.menu__nav--link{
	text-decoration: none;
	color: #000000;
}
.menu__nav:hover{
	font-weight:bold;
	background:#ffc7c7;
}
.menu__nav--active{
	font-weight:bold;
	background:#ffc7c7;
}
.item{
	  width: 250px;
    /* height: 200px; */
    background-color: #f8f7f4;
    border: 1px solid #d9d2c3;
    /* float: left; */
    /* margin-left: 40%; */
    font-size: 12px;
    margin: 0 auto;
}
.list-item{
	list-style-type:none;
	padding:15px 15px;
}
.list-item__img{
	display:inline-block;
	width:10%;
	margin-top:5px;
	padding: 0 5px 0 5px;
}


.list-item__li a {
	text-decoration:none;
	color:#000;
}
.list-item__li a:hover{
	color:#00F;
}

